<ons-page id="Detail">
    <img src="img/1.jpeg" width="188" height="275" style="text-align:center;">
    <p style="text-align: center;background-color: aqua;">
        เป็นภาพยนตร์ที่ทั่วโลกรอคอยอีกเรื่อง สำหรับจอมวายร้ายในคราบตัวตลก โจ๊กเกอร์ (Joker) หนึ่งในราชาอาชญากรที่ทั่วโลกตกหลุมรัก และเป็นตัวละครที่ยากที่สุดอีกตัวที่จะหานักแสดงมารับบทหนักและซับซ้อนนี้ได้

ในที่สุดบทนี้ก็ตกถึงมือของ วาคีน ฟินิกส์ (Joaquin Phoenix) นักแสดงมากฝีมือจาก Gladiator, Walk the Line และ Her และได้ตัวผู้กำกับท็อดด์ ฟิลลิปส์ ผู้กำกับหนังตลกสุดรั่ว Hangover ทั้ง 3 ภาค ร่วมผนึกกำลังถ่ายทอดความดาร์กและดราม่าสุดขั้วถึงต้นกำเนิดของ ของ Joker ในหนังฉายเดี่ยวเรื่องแรกและอาจจะเป็นเรื่องที่สร้างความฮือฮาอย่างมากในช่วงนี้
    </p>
</ons-page>