<ons-page id="Favorite">
    <p style="text-align:left;">
        <img src="img/1.jpeg" width="188" height="275" style="float:left; margin:20px 10px;"><br><b>Jocker</B><br>Joker เล่าถึง อาเธอร์ เฟล็ก ชายผู้มีอาการทางจิต ที่ทำอาชีพเป็นตัวตลก และมีความฝันเป็นนักแสดงตลกแบบ stand-up comadian เขาใช้ชีวิตอยู่กับแม่ที่ป่วยในอพาร์ตเมนต์อันเสื่อมโทรม ในก๊อตแธมช่วงยุค 80 ที่บ้านเมืองเต็มไปด้วยอาชญากรรม ความรุนแรง ช่องว่างของคนรวยและคนจนยิ่งถ่างออกไป จนแทบจะกลายเป็นนรกบนดินในเวลานั้น 
            <br><b>RATING</b><br><img src="img/4.png" width="150" height="60">
        <img src="img/2.jpg" width="188" height="275" style="float:left; margin:20px 10px;"><br><br><br><b>Thor</B><br>ธอร์ (คริส เฮมส์เวิร์ธ) ทายาทเทพเจ้าซึ่งเป็นนักรบผู้แกร่งกล้าแต่หยิ่งทะนง ผู้ซึ่งการกระทำไร้การยั้งคิดของเขาได้จุดเพลิงสงครามโบราณให้ลุกโชนขึ้นมาอีกครั้ง ธอร์ ถูก โอดิน (แอนโทนี่ ฮ็อปกินส์) เทพบิดาของเขาขับไล่ลงมาสู่โลกมนุษย์ และจำต้องใช้ชีวิตอยู่ท่ามกลางมวลมนุษย์ เจน ฟอสเตอร์ (นาตาลี พอร์ตแมน) นักวิทยาศาสตร์สาวสวย
            <br><b>RATING</b><br><img src="img/4.png" width="150" height="60">
        <img src="img/3.jpg" width="188" height="275" style="float:left; margin:20px 10px;"><br><br><br><br><br><b>AVENGERS INGINITYWAR</B><br> เหล่าอเวนเจอร์ยังคงต้องปกป้องโลกจากภัยอันตรายครั้งใหญ่ที่เกินกว่าที่ซุปเปอร์ฮีโร่คนเดียวจะรับมือได้ อันตรายครั้งใหม่นั้นมาจากเงามืดของจักรวาล 'ทานอส' จอมเผด็จการแห่งจักรวาล เป้าหมายของเขาคือการรวบรวมอัญมณี อินฟินิตี้สโตนส์ทั้งหก เพื่อครอบครองพลังที่เกินจะจินตนาการถึง
            <br><b>RATING</b><br><img src="img/4.png" width="150" height="60">
    </p>
</ons-page>